* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#my-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#category-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}



.blue-text {
  color: blue;
  
}

.history-text {
  font-size: 20px;
  font-weight: 600;
}

.history {
  margin-top: 60px;
}

.balance {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.black-text {
  color: black;
}

.categories {
  margin-top: 6px;
}

.add-wallet {
  margin-top: 30px;
  margin-bottom: 46px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.wallet-types {
  margin-left: 56px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.selected-wallet {
  margin-top: 202px;
}

.current-wallet {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profit {
  height: 88px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #F3F4F6;
  
}

.green {
  color: #219653;
}

.red {
  color: #EB5757;
}

.expense {
  margin-top: 16px;
  margin-bottom: 16px;
}

.line-expense {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.operatiune {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 88px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #F3F4F6;
}

.income {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
font-size: 36px;
}

.ident {
  padding-left: 72px;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-weight: 400;
  font-size: 16;
  color: #828282;
}

.left-text {
  margin-left: 56px;
  font-weight: 700;
  font-size: 24px;
}

.right-button {
  margin-right: 56px;
  padding: 8px 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #D1D5DB;
}
.right-button:hover {
  background-color: #F8F8F8;
}

.plus-sign {
  font-size: 15px;
  font-weight: 600;
}

.logo {
  padding-top: 40px;
  padding-left: 56px;
  width: 129px;
  height: 44px;
  font-family: 'Josefin Sans', sans-serif;
  font-style:italic;
  font-weight: 800;
  font-size: 36px;
}

.horizontal-line {
  border: none;
  margin-left: 56px;
  margin-right: 56px;
  height: 1px;
  background-color: #E0E0E0;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.aside {
  flex: 0 1 25%;
  background-color: #FFFFFF;
}

.aside ul {
  list-style: none;
  padding-left: 20px;
}

main {
  flex: 1 1 75%;
  background-color: #F8F8F8;
}

.aside,
.widget-item,
.widget-item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-area {
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 61.5px;
}

.log-expense {
  background-color: black;
  border-radius: 4px;
  padding: 10px 25px;
  color: white;
  transition: 0.3s;
}

.log-expense:hover {
  background-color: white;
  color: black;

}

.question {
  font-size: 20px;
}

.header {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-expense-text {
  font-weight: 500;
font-size: 20px;
}

.aside {
    gap: 16px;
}

.widget-item {
    gap: 4px;
}

.widget-item-name {
    font-size: 14px;
    font-weight: 600;
}
.widget-item-balance {
    font-size: 12px;
}


h2 {
  font-size: 20px;
  margin-bottom: 16px;
}
