* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --primary-color: white;
  --secondary-color: black;
  --third-color: #F8F8F8;
  --forth-color: #F3F4F6;
}

.dark-theme{
  --primary-color: black;
  --secondary-color:white;
  --third-color: #222222;
  --forth-color: black;
}

#my-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#category-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#expense-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#income-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

#edit-expense-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px;
  background-color: var(--primary-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.wallet-types:hover {
  background-color: var(--third-color);
}

.blue-text {
  color: blue;
  
}

.history-text {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
}

.history {
  margin-top: 60px;
}

.balance {
  margin-top: 33px;
  display: flex;
  flex-direction: row;
  gap: 27px;
}

.black-text {
  color: var(--secondary-color);
}

.categories {
  margin-top: 6px;
}

.add-wallet {
  margin-top: 30px;
  margin-bottom: 46px;
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.wallet-types {
  margin-left: 56px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.selected-wallet {
  margin-top: 202px;
}

.current-wallet {
  color: var(--secondary-color);
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.profit {
  height: 88px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--forth-color);
  
}

#dark {
  padding-top: 45px;
  padding-right: 56px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#right-border {
  border-right: 3px solid var(--secondary-color); padding-right: 15px;
}

.green {
  color: #219653;
}

.red {
  color: #EB5757;
}

.expense {
  margin-top: 16px;
  margin-bottom: 16px;
}

.line-expense {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.operatiune {
  margin-top: 16px;
  margin-bottom: 16px;
  height: 88px;
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #F3F4F6;
}

.income {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.row-icon {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
font-size: 36px;
}

.ident {
  padding-left: 72px;
}

.greetings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 600;
}

.title2 {
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  font-weight: 400;
  font-size: 16;
  color: #828282;
}

.left-text {
  color: var(--secondary-color);
  margin-left: 56px;
  font-weight: 700;
  font-size: 24px;
}

.right-button {
  margin-right: 56px;
  padding: 8px 16px;
  background-color: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #D1D5DB;
}
.right-button:hover {
  background-color: #F8F8F8;
}

.plus-sign {
  font-size: 15px;
  font-weight: 600;
}

.logo {
  padding-top: 40px;
  padding-left: 56px;
  width: 129px;
  height: 44px;
  font-family: 'Josefin Sans', sans-serif;
  font-style:italic;
  font-weight: 800;
  font-size: 36px;
}

.horizontal-line {
  border: none;
  margin-left: 56px;
  margin-right: 56px;
  height: 1px;
  background-color: #E0E0E0;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.aside {
  flex: 0 1 25%;
  background-color: var(--primary-color);
}

.aside ul {
  list-style: none;
  padding-left: 20px;
}

main {
  flex: 1 1 75%;
  background-color: var(--third-color);
}

.aside,
.widget-item,
.widget-item-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-area {
  margin-left: 56px;
  margin-right: 56px;
  margin-top: 61.5px;
}

.log-expense {
  background-color: var(--secondary-color);
  border-radius: 4px;
  padding: 10px 25px;
  color: var(--primary-color);
  transition: 0.3s;
}

.log-expense:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);

}

.question {
  color: var(--secondary-color);
  font-size: 20px;
}

.header {
  display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add-expense-text {
  font-weight: 500;
font-size: 20px;
}

.aside {
    gap: 16px;
}

.widget-item {
    gap: 4px;
}

.widget-item-name {
    font-size: 14px;
    font-weight: 600;
}
.widget-item-balance {
    font-size: 12px;
}


h2 {
  font-size: 20px;
  margin-bottom: 16px;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}